@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url('//fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('//fonts.googleapis.com/css?family=Abel');


/*=================================================
基本スタイル
=================================================*/
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.8;
  color: #333;
  -webkit-text-size-adjust: 100%;
  font-size: 17px;
  background-color:#FFF;
  overflow-x:auto;
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
}
@media(max-width:767px){
body {
  font-size: 15px;
  line-height: 1.6;
  }
center {
  text-align:left;
  }
.spnone {
 display:none;
  }
}

.centerfix {
  text-align:center;
}
.rightfix {
  text-align:right;
}
@media screen and (max-width: 767px) {
.spcenter {
  text-align:center;
  }
}

img {
  max-width: 100%;
  height: auto;
  width /***/:auto;
  vertical-align:middle;
  border:none;
  -ms-interpolation-mode: bicubic;
}

/*画像上下余白*/
.imgspace {
  margin: 15px 0 15px;
}
.imgspace_up {
  margin: 15px 0 0;
}
.imgspace_btm {
  margin: 0 0 15px;
}
@media screen and (max-width: 767px) {
.imgspace {
  margin: 12px 0 12px;
  }
.imgspace_up {
  margin: 12px 0 0;
  }
.imgspace_btm {
  margin: 0 0 12px;
  }
}

/*リンク*/
a {
  color:#000;
  text-decoration:underline;
  font-weight: bold;
}
a:hover,
a:active {
  text-decoration:none;
}
a:hover img{
  opacity: 0.75;
  filter: alpha(opacity=75);
  transition:all 0.3s ease;
}
/*画像リンクhover無効*/
a.nohover:hover img {
  opacity: 1.0;
  filter:progid:DXImageTransform.Microsoft.Alpha(Style=0,Opacity=100,FinishOpacity=100);
}

/*スタイルリセット*/
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  border:0;
  font-size:100%;
  font-weight:normal;
}
nav, section, article, aside, span, figure, figcaption {
  width: 100%;
  margin:0 auto;
  padding:0;
}
p {
  margin:0;
  padding:0;
  font-size:100%;
  text-decoration:none;
}
hr {
  width: 100%;
  border-width: 1px 0 0 0; 
  border-style: solid;
  border-color: #B7B7B7;
  margin: 5px 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.dotlist li {
  list-style-type: disc;
  padding-left: 1em;
  text-indent: -1em;
  list-style-position: inside;
}
ol {
  margin: 0;
  padding: 0;
  padding-left: 1em;
  margin-left: 1em;
}
.iroha li {
  list-style-type: katakana-iroha;
  padding-left: 0.3em;
  margin-left: 0.3em;
}

/*米印*/
.kome {
	padding: 5px 0;
}
.kome p {
 margin-left:1em;
 text-indent:-1em;
}
/*ダイヤマーク*/
.diamond {
	padding: 5px 0;
}
.diamond p {
	position: relative;
  margin-left: 1em;
}
.diamond p::before {
	display: block;
	content: '';
	position: absolute;
	top: 0.5em;
	left: -1em;
	width: 0.5em;
	height: 0.5em;
	background-color: #333;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* 画像デバイス切り替え */
.pc {
  display:block !important;
}
.sp {
  display:none !important;
}
@media(max-width:640px){
.pc {
  display:none !important;
  }
.sp {
  display:block !important;
  }
}

/* 改行制御 */
.pcbr {
  display:block;
  }
@media(max-width:640px){
.pcbr {
  display:none;
  }
}
.spbr {
  display:none;
  }
@media(max-width:640px){
.spbr {
  display:block;
  }
}

/* アンカーリンク位置調整 */
.anchor{
  display: block;
  padding-top: 20px;
  margin-top: -20px;
}

/*=================================================
共通パーツ
=================================================*/
#wrapper {
  width:100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
section {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
}
.content640 {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0;
}

/* iframe内 */
.ifrwrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  font-size: 0.85em;
}
.ifrwrap2 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  font-size: 1em;
}

/* ---------------------------------------
画像をトリミングしてサムネイル表示
------------------------------------------ */
.trim {
  overflow: hidden;
  position: relative;
  padding-top: 64%;
  }

.trim img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*-------------------------
GoogleMap埋め込み
--------------------------*/
.googlemap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.googlemap iframe,
.googlemap object,
.googlemap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-------------------------
YouTube動画埋め込み
--------------------------*/
.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding:0;
  height: 0;
  overflow: hidden;
}
.youtube iframe,  
.youtube object,  
.youtube embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  height: 100%;
}

/*-------------------------
画像装飾・リサイズ
--------------------------*/
.photoframe {
  border:1px solid #CCC;
  padding:5px;
  background-color:#FFF;
}
.photoradius{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.photocircle{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.resize80p{
  width:100%;
  max-width:80%;
}
.resize640{
  width:100%;
  max-width:640px;
}
.resize420{
  width:100%;
  max-width:420px;
}
.resize300{
  width:100%;
  max-width:300px;
}
.resize240{
  width:100%;
  max-width:240px;
}
.resize120{
  width:100%;
  max-width:120px;
}

/*-------------------------
フォント指定
--------------------------*/
.b {
  font-weight:bold;
}
.normal {
  font-weight:normal !important;
}
.underline {
  text-decoration: underline;
}
.wideline {
  line-height:2.0;
}
.narrowline {
  line-height:1.6;
}
.narrowline2 {
  line-height:1.4;
}
.narrowline3 {
  line-height:1.2;
}
.fontspace {
  letter-spacing: 2px;
}
.gothic {
  font-family: "Noto Sans Japanese", sans-serif;
  line-height:1.6;
}
.eng {
  font-family: 'Abel', sans-serif;
  line-height:1.4;
}
.eng_qs {
  font-family: 'Quicksand', sans-serif;
  line-height:1.2;
}
.nowrap {
  white-space: nowrap;
}

/*フォントカラー*/
.black {
  color:#2E282A;
}
.gray {
  color:#666;
}
.gray2 {
  color:#999;
}
.white {
  color:#FFF;
}
.orange {
  color:#FF550F;
}
.red {
  color:#CC3300;
}
.green {
  color: #17BEBB;
}
.blue {
  color: #0099CC;
}
.yellow {
  color: #E5A713;
}

/*フォントサイズ*/
.SS {
  font-size:0.75em;
  line-height: 1.6;
}
.S {
  font-size:0.9em;
  line-height: 1.6;
}
.M {
  font-size:1.1em;
}
.L {
  font-size:1.2em;
}
.LL {
  font-size:1.4em;
}
.LLL {
  font-size:1.8em;
  line-height: 1.5;
}
.LLLL {
  font-size:2em;
  line-height: 1.4;
}
.big {
  font-size:2.4em;
  line-height: 1.4;
}
.huge {
  font-size:3.4em;
  line-height: 1.2;
}
@media(max-width:767px){
.M {
  font-size:1em;
  }
.L {
  font-size:1.1em;
  }
.LL {
  font-size:1.2em;
  }
.LLL {
  font-size:1.3em;
  }
.LLLL {
  font-size:1.5em;
  }
.big {
  font-size:2em;
  }
.huge {
  font-size:2.4em;
  }
}

/*-------------------------
余白
--------------------------*/
/*html記述 <div class="spacer"><!—-></div>*/
.spacer {
  clear: both;
  width: auto;
  height: 40px;
}
.sectionspace {
  clear: both;
  width: auto;
  height: 60px;
}
.period {
  clear: both;
  width: auto;
  height: 12px;
}
@media(max-width:767px){
.spacer {
  height: 30px;
  }
.sectionspace {
  height: 40px;
  }
.period {
  height: 10px;
  }
}

.spacer50 {
  clear: both;
  width: auto;
  height: 50px;
}
.spacer40 {
  clear: both;
  width: auto;
  height: 40px;
}
.spacer30 {
  clear: both;
  width: auto;
  height: 30px;
}
.spacer25 {
  clear: both;
  width: auto;
  height: 25px;
}
.spacer20 {
  clear: both;
  width: auto;
  height: 20px;
}
.spacer15 {
  clear: both;
  width: auto;
  height: 15px;
}
.spacer10 {
  clear: both;
  width: auto;
  height: 10px;
}
.spacer8 {
  clear: both;
  width: auto;
  height: 8px;
}
.spacer5 {
  clear: both;
  width: auto;
  height: 5px;
}

/* ---------------------------------------
フォームスタイリング
------------------------------------------ */
/* 項目名 */
.formitem {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5;
  margin: 20px 0 5px;
  color: #333;
}
.formitem2 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 5px;
  color: #333;
}

/* 入力・選択欄 */
input[type='text'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='number'],
select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
  width:100%;
  max-width: 640px;
  outline: none;
  border: 1px solid #B7B7B7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background:#FFF;
  padding:0.5em;
  font-size:1.1em;
}
select::-ms-expand {
  display: none;
}
textarea{
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
  width:100%;
  outline: none;
  border: 1px solid #B7B7B7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background:#FFF;
  padding:0.5em;
  font-size:1.1em;
  height:140px;
}
input:focus,
select:focus,
textarea:focus {
  background:#F5F5F5;
}

iframe {
  border: 1px solid #B7B7B7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background:#FFF;
  margin: 3px 0;
}

input::placeholder {
  color: #CCC;
}
/* IE */
input:-ms-input-placeholder {
  color: #CCC;
}
/* Edge */
input::-ms-input-placeholder {
  color: #CCC;
}

/* ラジオボタン・チェックボックス */
input[type="radio"] , 
input[type="checkbox"]{
  -webkit-transform: scale(1.6);
  transform: scale(1.6);
  margin:0 10px 15px 3px;
}
label {
  margin-right:1em;
  cursor:pointer;
}
label {
  display: inline-block;
}
@media screen and (max-width: 980px) {
input[type="radio"] , 
input[type="checkbox"]{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  margin:0 5px 10px 3px;
  }
}

/* ボタン */
/* @import url('http://fonts.googleapis.com/earlyaccess/notosansjapanese.css'); */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  -o-appearance:none;
  appearance:none;
  font-size:1.5em;
  cursor: pointer;
  padding: 10px 18px 12px 20px;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  font-family: 'Noto Sans Japanese', sans-serif;
  font-weight: 600;
  background: #E5A713;
  line-height: 100%;
  border: 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  cursor: pointer;
  letter-spacing: 1px;
  margin:25px 0 0;
}

/* 必須項目アイコン */
.hissu {
  font-size:0.75em;
  line-height:100%;
  color:#FFF;
  background-color:#CC3300;
  padding:2px 5px 1px;
  margin-left:7px;
  font-weight:normal;
  vertical-align:middle;
}